body {
    font-family: "Open Sans", sans-serif;
    color: navy;
}
h1 {
    color: navy;
    background-color: white;
}
img{
    height: 100px;
    text-align: left;
}
figcaption span {
    font-size: .75em;
}
p#product-descrption {
    margin: 20px 0 20px 0;
    text-align: justify;
}
div.review {
    padding: 10px;
    background-color: beige;
    margin: 20px 0 20px 0;
}